@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --body-1-font-family: "Inter", Helvetica;
  --body-1-font-size: 14px;
  --body-1-font-style: normal;
  --body-1-font-weight: 500;
  --body-1-letter-spacing: 0px;
  --body-1-line-height: normal;
  --neutral-600: rgba(111, 108, 144, 1);
  --poppins-h3-poppins-27px-semibold-font-family: "Poppins", Helvetica;
  --poppins-h3-poppins-27px-semibold-font-size: 27px;
  --poppins-h3-poppins-27px-semibold-font-style: normal;
  --poppins-h3-poppins-27px-semibold-font-weight: 600;
  --poppins-h3-poppins-27px-semibold-letter-spacing: 0.4000000059604645px;
  --poppins-h3-poppins-27px-semibold-line-height: 33px;
}
